.container {
  display: flex;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.column {
  flex: 1 1 0;
  background-color: #171ea7;
  border: 10px solid #ccc;
  padding: 10px;
}
